.btn{
    width: 150px;
    border: 1px solid #fa4753;
    background: transparent;
    padding: 10px;
    color: #fa4753;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover{
    color: #15171C;
    background-color: #fa4753;
    transition: all 1s ease;
}